<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>assets/1000res.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1500, 1500}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1500, 1500}}</string>
			<key>sourceSize</key>
			<string>{1500, 1500}</string>
		</dict>
		<key>assets/Blast@4x (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{1118, 1825}, {116, 116}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {116, 116}}</string>
			<key>sourceSize</key>
			<string>{116, 116}</string>
		</dict>
		<key>assets/Galaxy@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{741, 1825}, {275, 134}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {275, 134}}</string>
			<key>sourceSize</key>
			<string>{275, 134}</string>
		</dict>
		<key>assets/HUGESTAR.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1503}, {480, 462}}</string>
			<key>offset</key>
			<string>{0, 10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10, 9}, {480, 462}}</string>
			<key>sourceSize</key>
			<string>{500, 500}</string>
		</dict>
		<key>assets/Space Hunter logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{465, 1503}, {342, 175}}</string>
			<key>offset</key>
			<string>{3, 24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82, 138}, {342, 175}}</string>
			<key>sourceSize</key>
			<string>{500, 500}</string>
		</dict>
		<key>assets/Star-8@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1132, 1943}, {98, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 94}}</string>
			<key>sourceSize</key>
			<string>{98, 94}</string>
		</dict>
		<key>assets/bigwhitepause.png</key>
		<dict>
			<key>frame</key>
			<string>{{465, 1847}, {126, 184}}</string>
			<key>offset</key>
			<string>{10, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97, 56}, {126, 184}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>assets/grace suggestion.png</key>
		<dict>
			<key>frame</key>
			<string>{{1503, 253}, {320, 568}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {320, 568}}</string>
			<key>sourceSize</key>
			<string>{320, 568}</string>
		</dict>
		<key>assets/obj_bomb1_007@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{741, 1961}, {97, 86}}</string>
			<key>offset</key>
			<string>{15, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31, 24}, {97, 86}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>assets/purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{642, 1503}, {320, 568}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {320, 568}}</string>
			<key>sourceSize</key>
			<string>{320, 568}</string>
		</dict>
		<key>assets/rock1.png</key>
		<dict>
			<key>frame</key>
			<string>{{840, 1961}, {101, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {101, 84}}</string>
			<key>sourceSize</key>
			<string>{101, 84}</string>
		</dict>
		<key>assets/rock2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1018, 1825}, {120, 98}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 98}}</string>
			<key>sourceSize</key>
			<string>{120, 98}</string>
		</dict>
		<key>assets/rock3.png</key>
		<dict>
			<key>frame</key>
			<string>{{943, 1961}, {89, 82}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {89, 82}}</string>
			<key>sourceSize</key>
			<string>{89, 82}</string>
		</dict>
		<key>assets/rock4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1034, 1947}, {98, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 96}}</string>
			<key>sourceSize</key>
			<string>{98, 96}</string>
		</dict>
		<key>assets/ship.png</key>
		<dict>
			<key>frame</key>
			<string>{{1228, 1943}, {91, 91}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {91, 91}}</string>
			<key>sourceSize</key>
			<string>{91, 91}</string>
		</dict>
		<key>assets/spacebackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1212, 1503}, {568, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {568, 320}}</string>
			<key>sourceSize</key>
			<string>{568, 320}</string>
		</dict>
		<key>assets/spacship.png</key>
		<dict>
			<key>frame</key>
			<string>{{1236, 1825}, {112, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {112, 75}}</string>
			<key>sourceSize</key>
			<string>{112, 75}</string>
		</dict>
		<key>assets/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{593, 1847}, {152, 146}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {152, 146}}</string>
			<key>sourceSize</key>
			<string>{152, 146}</string>
		</dict>
		<key>assets/white.png</key>
		<dict>
			<key>frame</key>
			<string>{{1782, 1}, {250, 250}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {250, 250}}</string>
			<key>sourceSize</key>
			<string>{250, 250}</string>
		</dict>
		<key>assets/whitepause.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1985}, {23, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 9}, {23, 32}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>assets.png</string>
	</dict>
</dict>
</plist>
